<!DOCTYPE html>
<html lang="ja">
    <head>
        {% load static %}
        <meta charset="UTF-8" name="viewport" content="'width=device-width, initial-scale=1.0">
        <title>Music Analyzer</title>
        <link rel="stylesheet" href = "{% static 'music_analyzer/style.css' %}"></link>
    </head>
    <body>
        <div class="music_nums">
            <from action ="{% url 'spotify_login' %}" method="get">
                       <label for="music_num">曲数を選択</label>
                        <input type="number" id="music_num" name="music_num" min="1" max="50" value="10">

                        <button type="submit">Spotifyでログイン</button>
            </from>
        </div>
    </body>
</html>